example-gui/bin/guiExampleDebug
example-gui/bin/guiExampleDebug.app

example-forest/bin/forestExampleDebug
example-forest/bin/forestExampleDebug.app

build-forestExample-Desktop-Debug/
build-guiExample-Desktop-Debug/

build-example-forest-Desktop-Debug/
build-example-gui-Desktop-Debug/
example-forest/bin/example-forest_debug
example-gui/bin/example-gui_debug

