example-gui/bin/guiExampleDebug
example-gui/bin/guiExampleDebug.app

example-forest/bin/forestExampleDebug
example-forest/bin/forestExampleDebug.app

build-forestExample-Desktop-Debug/
build-guiExample-Desktop-Debug/
example-forest/bin/forestExample_debug
example-gui/bin/guiExample_debug

